*{
    margin: 0;
    padding: 0;
}
.box{
    width: 150px;
    margin-bottom: 20px;
    box-sizing: border-box;
}
.one{
    height: 120px;
    border: 1px solid #ff0000;
}
.two{
    height: 100px;
    border: 1px solid #ff0000;
}
.three{
    height: 40px;
    border: 1px solid #ff0000;
}
.four{
    height: 200px;
    border: 1px solid #0000ff;
}
.contain{
    justify-content: space-between;/*a1.两端对齐*/
    align-items: center;/*a2.垂直居中*/
    flex-wrap: wrap;/*a3.换行*/
    display: flex;   
    padding: 20px;
}
@media(max-width: 639px) {
    .contain{
        align-items: flex-start;/*a2.上方对齐*/
    }
    .four{
        order: -1;   
    }
}